{% extends 'admin.html.twig' %}
{% form_theme form 'forms/forms.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <section class="formContainer">
        {{ form_start(form) }}
            {{ form_row(form.date) }}
            {{ form_row(form.client) }}
        {{ form_end(form) }}
    </section>
{% endblock %}