{% extends 'admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ tasks|length }} {%  if not tasks|length == 1 %}Taken {% else %} Taak{% endif %}</h1>
    <a href="{{ path('tasks_add') }}" class="btn -primary">Taak toevoegen</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Klant</th>
            <th>Technieker</th>
            <th>Datum</th>
            <th>Status</th>
            <th>Duur</th>
            <th>Prijs</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td class="number">{{ task.id }}</td>
                <td>{{ task.client }}</td>
                <td>{{ task.employee }}</td>
                <td>{{ task.date|date("d/m/Y") }}</td>
                <td>{% if task.status %} <span class="status -success">Voltooid</span> {% else %} <span class="status -warning">Gepland</span> {% endif %}</td>
                <td>{% if task.endTime %}Time{% else %}-{% endif %}</td>
                <td class="number">{% if task.price %}Prijs{% else %}-{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
