{% extends "base.html.twig" %}

{% block body %}
    <main class="container -fluid -admin">
        <section class="row">
            <nav class="nav -admin col-2">
                <a href="{{ path('admin_index') }}" class="nav__brand">
                    <h1>CMS</h1>
                </a>
                <section class="nav__link">
                    <a href="{{ path('admin_index') }}" class="nav__link__item" id="overview">
                        <span class="iconify" data-icon="ic:round-format-list-bulleted" data-inline="true"></span>
                        <p>Overzicht</p>
                    </a>
                    <a href="{{ path('user_index') }}" class="nav__link__item" id="users">
                        <span class="iconify" data-icon="fa-solid:users" data-inline="true"></span>
                        <p>Gebruikers</p>
                    </a>
                    <a href="{{ path('tasks_index') }}" class="nav__link__item" id="tasks">
                        <span class="iconify" data-icon="jam:task-list-f" data-inline="true"></span>
                        <p>Taken</p>
                    </a>
                </section>
                <section class="nav__link -user">
                    <a href="{{ path('app_logout') }}" class="nav__link__item">
                        <span class="iconify" data-icon="ion:log-out" data-inline="true"></span>
                        <p>Log Out</p>
                    </a>
                </section>
            </nav>
            <main class="content col-10 offset-2">
                <main class="container">
                    {% block content %}{% endblock %}
                </main>
            </main>
        </section>
    </main>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}