{% extends 'admin.html.twig' %}

{% block title %}Gebruikers{% endblock %}

{% block content %}
    <div>
        <h1>{{ users|length }} Gebruiker{%  if users|length > 1 or users|length == 0 %}s{% endif %}</h1>
    </div>
    <a href="{{ path('user_new') }}" class="btn -primary"><span class="iconify" data-icon="gridicons:user-add" data-inline="true"></span> Toevoegen</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Naam</th>
            <th>Gebruikersnaam</th>
            <th>Email</th>
            <th>Rollen</th>
            <th>Tarief</th>
            <th>Acties</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td class="number">{{ user.id }}</td>
            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.roles[0][5:]|title }}</td>
            <td class="number">€ {{ user.cost | format_number({fraction_digit: 2}) }} <br> <span class="text-light">€ {{ user.transport | format_number({fraction_digit: 2}) }}</span></td>
            <td class="actions"><a href="{{ path('user_edit', { 'user': user.id }) }}">Bewerken</a> | <a href="{{ path('user_destroy', { 'user': user.id }) }}" class="danger" >Verwijder</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}